force-app/main/default/flows/Clone_Policy_Draft_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Policy_Draft_with_related_records</name>
        <label>Clone Policy Draft with related records</label>
        <locationX>548</locationX>
        <locationY>381</locationY>
        <actionName>PolicyDraftCloneAction_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Success_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>policyDraftId</name>
            <value>
                <elementReference>Get_Policy_Draft_Details.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PolicyDraftCloneAction_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Flow to clone Policy Draft record with all related records</description>
    <environments>Default</environments>
    <label>Clone Policy Draft Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Driver_Records</name>
        <label>Get Driver Records</label>
        <locationX>863</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Clone_Confirmation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Draft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Policy_Driver__c</object>
        <outputReference>driverRecords</outputReference>
        <queriedFields>Driver_Name__c</queriedFields>
        <queriedFields>Driver_CDL__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Full_Coverage_Records</name>
        <label>Get Full Coverage Records</label>
        <locationX>360</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Draft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Coverage__c</object>
        <outputReference>coverageRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Limit__c</queriedFields>
        <queriedFields>Deductible__c</queriedFields>
        <queriedFields>Coverage_Product_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Draft_Details</name>
        <label>Get Policy Draft Details</label>
        <locationX>187</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Full_Coverage_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Policy_Draft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trailer_Records</name>
        <label>Get Trailer Records</label>
        <locationX>690</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Driver_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Draft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Policy_Trailer__c</object>
        <outputReference>trailerRecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Trailer_VIN__c</queriedFields>
        <queriedFields>Trailer_Make__c</queriedFields>
        <queriedFields>Trailer_Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Records</name>
        <label>Get Vehicle Records</label>
        <locationX>538</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Trailer_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Draft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Policy_Vehicle__c</object>
        <outputReference>vehicleRecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Vehicle_VIN__c</queriedFields>
        <queriedFields>Vehicle_Make__c</queriedFields>
        <queriedFields>Vehicle_Year__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Clone_Confirmation_0</name>
        <label>Display Clone Confirmation</label>
        <locationX>859</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_Policy_Draft_with_related_records</targetReference>
        </connector>
        <fields>
            <name>policy_clone_comfirmation_lwc</name>
            <extensionName>c:policyDraftCloningConfirmation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>coverageRecords</name>
                <value>
                    <elementReference>coverageRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCoverage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDriver</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTrailer</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showVehicle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>policyVehicleRecords</name>
                <value>
                    <elementReference>vehicleRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>policyDriverRecords</name>
                <value>
                    <elementReference>driverRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>policyTrailerRecords</name>
                <value>
                    <elementReference>trailerRecords</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>202</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Clone_Policy_Draft_with_related_records.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Clone_Policy_Draft_with_related_records.newPolicyDraftId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View the new Policy Draft record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Policy_Draft_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coverageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Coverage__c</objectType>
    </variables>
    <variables>
        <name>driverRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Driver__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>trailerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Trailer__c</objectType>
    </variables>
    <variables>
        <name>vehicleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Policy_Vehicle__c</objectType>
    </variables>
</Flow>
