force-app/main/default/flows/Create_Lead_from_Potential_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Owners_DOB_required</name>
        <label>Owners DOB required</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Lead_from_Potential_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Potential_Client_Fields.Owner_DOB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owners_DOB_not_filled</targetReference>
            </connector>
            <label>Not filled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Lead from Potential Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead from Potential Client</label>
    <loops>
        <name>Loop_Potential_Client_Contact_Tasks</name>
        <label>Loop Potential Client Contact Tasks</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Contact_Tasks_Related_to_Potential_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Relate_Contact_Tasks_to_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_Lead_URL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Lead_from_Potential_Client</name>
        <label>Copy 1 of Create Lead from Potential Client</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>CreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Tasks_Related_to_Potential_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Rep__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_DOB__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Owner_DOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USDOT__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.DOT__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_from_Potential_Client</name>
        <label>Create Lead from Potential Client</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Tasks_Related_to_Potential_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Rep__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_DOB__c</field>
            <value>
                <elementReference>Owners_DOB_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producer__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USDOT__c</field>
            <value>
                <elementReference>Get_Potential_Client_Fields.DOT__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Tasks_Related_to_Potential_Client</name>
        <label>Get Contact Tasks Related to Potential Client</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Potential_Client_Contact_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Potential_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Potential_Client_Fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Client_Fields</name>
        <label>Get Potential Client Fields</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owners_DOB_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Potential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_Contact_Tasks_to_Lead</name>
        <label>Relate Contact Tasks to Lead</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Loop_Potential_Client_Contact_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Potential_Client_Contact_Tasks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>CreatedLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_DOB</name>
        <label>Update Owner DOB</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Lead_from_Potential_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Potential_Client_Fields.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_DOB__c</field>
            <value>
                <elementReference>Owners_DOB_field</elementReference>
            </value>
        </inputAssignments>
        <object>Potential__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Lead_From_Potential_Client_Confirmation_Screen</name>
        <label>Create Lead From Potential Client Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Potential_Client_Fields</targetReference>
        </connector>
        <fields>
            <name>Confirmation_question</name>
            <fieldText>&lt;p&gt;Do you want to create a Lead from this Potential Client?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owners_DOB_not_filled</name>
        <label>Owners DOB not filled</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Owner_DOB</targetReference>
        </connector>
        <fields>
            <name>Owners_DOB_not_filled_msg</name>
            <fieldText>&lt;p&gt;You must fill in the Owner&apos;s DOB field in order to create the Lead&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Owners_DOB_field</name>
            <dataType>Date</dataType>
            <fieldText>Owner&apos;s DOB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Lead_URL</name>
        <label>Redirect to Lead URL</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redirect_URL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!CreatedLeadLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Lead_From_Potential_Client_Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CreatedLeadLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!CreatedLeadId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;CLICK HERE TO SEE THE CREATED LEAD&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewLeadId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
