force-app/main/default/flows/Custom_Lead_Conversion_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>LeadPolicyDrafts assignment</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>LeadPolicyDrafts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PolicyDrafts_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PolicyDrafts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BinderRequestPolicies_assigment</name>
        <label>BinderRequestPolicies assigment</label>
        <locationX>704</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>BinderRequestPolicies</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Binder_Request_Policies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Policies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PolicyDraftBinderRequests_assigment</name>
        <label>PolicyDraftBinderRequests assigment</label>
        <locationX>528</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>PolicyDraftBinderRequests</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PolicyDraft_Binder_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Binder_Request</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Custom Lead Conversion to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Lead Conversion to Opportunity</label>
    <loops>
        <name>Loop_Binder_Request</name>
        <label>Loop Binder Request</label>
        <locationX>528</locationX>
        <locationY>1619</locationY>
        <collectionReference>PolicyDraftBinderRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Binder_Request_Policies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_PolicyDrafts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Policies</name>
        <label>Loop Policies</label>
        <locationX>704</locationX>
        <locationY>1943</locationY>
        <collectionReference>BinderRequestPolicies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Policies_Opp_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Binder_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PolicyDrafts</name>
        <label>Loop PolicyDrafts</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <collectionReference>LeadPolicyDrafts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PolicyDraft_Binder_Requests</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Binder_Request_Policies</name>
        <label>Get Binder Request Policies</label>
        <locationX>704</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BinderRequestPolicies_assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Binder_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Binder_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PolicyDraft_Binder_Requests</name>
        <label>Get PolicyDraft Binder Requests</label>
        <locationX>528</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PolicyDraftBinderRequests_assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Draft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_PolicyDrafts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Binder_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get a list o PolicyDrafts related to the Lead</description>
        <name>Get_PolicyDrafts_Ids</name>
        <label>Get PolicyDrafts</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Draft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relate_Commodities_to_Account</name>
        <label>Relate Commodities to Account</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_PolicyDrafts_Ids</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Commodities__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Docs_Packages_to_Opp</name>
        <label>Relate Docs Packages to Opp</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Relate_Vehicles_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Documents_Packages__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Drivers_to_Account</name>
        <label>Relate Drivers to Account</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Relate_Commodities_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Drivers__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Financing_to_Opp</name>
        <label>Relate Financing to Opp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Relate_Docs_Packages_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Financing__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Trailers_to_Account</name>
        <label>Relate Trailers to Account</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Relate_Drivers_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Trailers__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_Vehicles_to_Account</name>
        <label>Relate Vehicles to Account</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Relate_Trailers_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Vehicles__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policies_Opp_field</name>
        <label>Update Policies Opp field</label>
        <locationX>792</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Loop_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Policies.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy_Drafts</name>
        <label>Relate Policy Drafts to Opp</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Relate_Financing_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Policy_Drafts__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Policy_Drafts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BinderRequestPolicies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>LeadPolicyDrafts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Draft__c</objectType>
    </variables>
    <variables>
        <name>PolicyDraftBinderRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Binder_Request__c</objectType>
    </variables>
</Flow>
